h1{

    background: #f72585;
    color: #f6fff8;
    border: 2px solid #fca311 ;
    text-align: center;
}

p{

  background: #fca311;
  color: #9b2226;

}

table, td, tr{

  border: 2px solid #ffc300;
}
